body {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "header header"
    "image  text"
    "footer footer";
}

.header {
  grid-area: header;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  color: #333333;
  position: relative;
  left: 3rem;
}

.img {
  grid-area: image;
  position: relative;
  top: 100px;
}

.img img {
  width: 80%;
  height: 100%;
}

.text {
  grid-area: text;
  position: relative;
  top: 50px;
}

.text h1 {
  max-width: 600px;
  position: relative;
  font-weight: bold;
  font-size: 4rem;
  line-height: 5.9375rem;
  color: #333333;
  margin-bottom: 36px;
}

.text p {
  position: relative;
  font-size: 1.5rem;
  max-width: 400px;
  color: #4f4f4f;
  margin-bottom: 64px;
}

.back-button {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #333333;
  border: none;
  padding: 20px 35px;
}

.footer {
  grid-area: footer;
  text-align: center;
  position: relative;
  top: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #333333;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas:
      "header header"
      "image image"
      "text text"
      "footer footer";
  }

  .header {
    margin-bottom: 5.5rem;
    left: 1rem;
  }

  .img {
    display: flex;
    justify-content: center;
    top: 0rem;
  }

  .text {
    top: 1.5625rem;
  }

  .text h1 {
    margin-bottom: 1.6875rem;
    font-size: 3rem;
  }

  .text p {
    margin-bottom: 4.1875rem;
  }
}